.fa-eye {
	cursor:pointer;
}
.relleno {
	height: 60px;
}
.montoAdeudado {
	margin-right:5px;
}
.label-cliente {
	    margin-bottom: 0px;
}
.panel-body-cliente {
	padding-top:35px;
}
.info-cliente {
	margin-top: 5px;
}
.boton-volver {
	padding-top:10px;
}
div.bg-img{
	background-image: url('../img/bg-img/bg-img-2.jpg');
}
.pad-btm > h3{
	margin-top: 0;
}
.height40{
	height: 40px;
}
.optionTable{
	display: flex;
}
.optionTable i {
	font-size: 20px;
	margin-right: 10px;
	cursor: pointer;
}
.campo-servicios i {
	font-size: 20px;
	margin-left: 10px;
	cursor: pointer;
}
#navbar .brand-title {
    padding: 0 1.5em 0 5px;
}

.quoteExtra{
	font-size: 20px;
	color: rgba(0,0,0,0.3);
	margin: 15px;
}

.no-padding-left {
    padding-left: 0 !important;
}

.img-lg{
	width: 150px;
	height: 150px;
}
.pad-ver {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0 auto;
	margin-bottom: 15px;
}
.fileinput-filename {
	display: block;
	margin-top: 10px;
}

.hover-menu {
	  top: 0;
	  background: #000;
	  position: absolute;
	  color: #FFF;
	  z-index: 99999;
	  background: #3b4146;
	  left: 50px;
}
.hover-menu i{
	display: none;
}

.hover-menu a{
	color: #FFF;
	padding: 15px;
	line-height: 41px;
}

.hover-menu ul{
	list-style: none;
	display: block;
	padding-left: 0;
	margin: 0;
			background: #2b2f33;
}

.nano-content{
	overflow: hidden !important;
}

.tab-pane .nav-tabs > li > a{
	padding: 5px;
	padding-bottom: 0px;
}

.tab-pane .nav-tabs > li{
	margin-right: 10px;
	margin-bottom: 15px;
}


.tab-pane .nav-tabs > .active{
	border-bottom: 3px solid;
}

.mgExtraButton{
	margin-top: 22px;
}

.iconItemsMenu{
    margin-top: 15px;
    cursor: pointer;
    margin-left: 15px;
}

.subMenuItems{
	margin-left: 60px;
}

.spinner.loading {
  padding: 50px;
  position: relative;
  text-align: center;
}

.spinner.loading:before {
  content: "";
  height: 80px;
  width: 80px;
  margin: -40px auto auto -40px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: #2180c0 #ccc #ccc;
  border-radius: 100%;
  animation: rotation .7s infinite linear;
}
.spinner.loading-min {
	/* padding: 50px; */
	position: relative;
	text-align: center;
}
.spinner.loading-min:before {
	content: "";
	/* height: 80px; */
	/* width: 80px; */
	margin: -18px auto auto 68px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-width: 8px;
	border-style: solid;
	border-color: #2180c0 #ccc #ccc;
	border-radius: 100%;
	animation: rotation .7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(359deg);
  }
}

.marginNull{
	margin: 0 ;
}

.textMiniPanel {
    font-size: 13px;
    color: #AAB5BC;
    font-weight: 500;
    text-transform: uppercase;
}

.numberMiniPanel{
	font-size: 20px;
	font-weight: 400;
}

.smalTextMiniPanel{
	font-size: 11px;
	color: #AAB5BC;
	font-weight: 600;
	text-transform: uppercase;
}
.dataClienteTable:hover{
	color: rgba(0,0,0,0.5);
}

.sweet-alert button.cancel{
	background-color: #DD6B55;
}

.sweet-alert button.cancel:hover{
	background-color: #DD6B55;
}

.bootstrap-datetimepicker-widget table td.today {
  	color: red;
}
/* Permite fijar el head de las dataTable */
table.fixedHeader-floating{position:fixed !important;background-color:white}table.fixedHeader-floating.no-footer{border-bottom-width:0}table.fixedHeader-locked{position:absolute !important;background-color:white}@media print{table.fixedHeader-floating{display:none}}