<template>
    <div>
        <h1>Detalle de Factibilidad</h1>
        

        <!-- Scroll bar present and enabled when more contents -->        
        <div class="panel_comentarios">
                <md-card v-for="item in comentarios" :key="item.id">
                    <md-card-header>
                        <md-avatar>
                        <img :src="image_src" alt="Avatar">
                        </md-avatar>

                        <div class="md-title">{{item.usuario.nombre}}</div>
                        <div class="md-subhead">{{moment(item.created_at).format('DD/MM/YYYY HH:mm')}}</div>
                    </md-card-header>

                    <!-- <md-card-media>
                        <img src="" alt="People">
                    </md-card-media> -->

                    <md-card-content>
                        {{item.comentario}}
                    </md-card-content>

                    <!-- <md-card-actions>
                        
                        <md-button>Action</md-button>
                        <md-button>Action</md-button>
                    </md-card-actions> -->
                    
                </md-card>
        </div>
        
    </div>
</template>
<script>
export default {
    props: ['id'],
    data:()=>({
        factibilidad:null,
        comentarios:[],
        image_src: '/img/av1.png',
    }),
    mounted() {
        this.cargarDatos();
    },
    methods: {
        async cargarDatos(){
            await this.axios.get(`/contacto_factibilidad/${this.id}`).then((res)=>{
                console.log('datos factibilidad',res);
                this.factibilidad = res.data.data;
                this.comentarios = res.data.data.comentarios;
            }).catch((error)=>{
                console.log('error',error);
            })
        },
    },      
}
</script>
<style>
.panel_comentarios{
    width: 100%; 
    height: 420px; 
    overflow-y: scroll;
    padding-left:1em;
    padding-right:1em;
    border: 1px solid #F5F5F5;
} 
</style>