<template>
    <div>
        <!-- Modal -->
        <div class="modal fade" id="modal_factibilidad" tabindex="-1" role="dialog" aria-labelledby="titulo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ancho" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titulo">Nueva Factibilidad</h4>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body">
                <div class="row m-1">
                    <div :class="`alert alert-${color}`" role="alert" v-if="mostrar_alert">
                        <span v-if="errores.length > 0">
                            <ul>
                                <li v-for="e in errores" :key="e">
                                    {{e}}
                                </li>
                            </ul>
                        </span>

                        <span v-if="nuevo_creado">
                            {{mensaje_alert}}
                        </span>
                    </div>
                    <!-- <span v-if="errores.length > 0">
                        <ul>
                            <li v-for="e in errores" :key="e">
                                {{e}}
                            </li>
                        </ul>
                    </span> -->
                </div>
                <div class="row m-1">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Rut" v-model="formdata.rut">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Nombre" v-model="formdata.nombre">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-md-6">
                        <input type="email" class="form-control" placeholder="Correo" v-model="formdata.correo">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Teléfono" v-model="formdata.telefono">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Latitud" v-model="formdata.latitud">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Longitud" v-model="formdata.longitud">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-md-12">
                        <textarea name="" id="" cols="30" rows="5" placeholder="mensaje cliente..." class="form-control" v-model="formdata.comentario"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" @click="guardar()">Crear</button>
            </div>
            </div>
        </div>
        </div>
    </div>
</template>
<script>
export default {
    data:()=>({
        formdata:{
            nombre:'',
            rut:'',
            correo:'',
            telefono:'',
            comentario:'',
            latitud:'',
            longitud:'',
            color:'success'
        },
        errores:[],
        nuevo_creado:false,
        mostrar_alert:false,
        mensaje_alert:''
    }),
    mounted() {
        this.$parent.$on('nueva_factibilidad',()=>{
            $('#modal_factibilidad').modal('show');
        });
    },
    methods: {
        async guardar(){
            this.errores = [];
            this.mensaje_alert = '';
            this.mostrar_alert = false;
            this.nuevo_creado = false;

            if(!this.formdata.rut){
                this.errores.push(this.ErrorRequired('Rut'))
            }else if(!this.validarRut(this.formdata.rut)){
                this.errores.push('Ingrese un Rut Válido')
            }
            if (!this.formdata.nombre) {
                this.errores.push(this.ErrorRequired('Nombre'));
            }
            if (!this.formdata.correo) {
                this.errores.push(this.ErrorRequired('Correo'));
            }
            else if (!this.validarEmail(this.formdata.correo)) {
                this.errores.push('Ingrese una dirección de correo correcta');
            }

            if (!this.errores.length) {
                console.log('formulario correcto',this.errores);
                let separar = this.formdata.rut.split('-');
                let body = {
                    rut: separar[0],
                    dv: separar[1],
                    nombre:this.formdata.nombre,
                    email:this.formdata.correo,
                    telefono:this.formdata.telefono,
                    mensaje:this.formdata.comentario,
                    latitud:this.formdata.latitud,
                    longitud:this.formdata.longitud
                }
                await this.axios.post(`/contacto_factibilidad`,body).then((res)=>{
                    this.$emit('actualizar_lista');
                    this.mensaje_alert = `Se ha creado la factibilidad N° ${res.data.data.id}`;
                    this.color = 'success';
                    this.mostrar_alert = true;
                    this.nuevo_creado = true;
                    this.limpiar();
                }).catch((error)=>{
                    console.log('error',error);
                });
            }else{
                console.log('errores',this.errores);
                this.color = 'danger';
                this.mostrar_alert = true;
            }
        },
        ErrorRequired(campo){
            return `El ${campo} es obligatorio`;
        },
        validarEmail(email){
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        validarRut(rutCompleto) {
            if (!/^[0-9]+[-|‐]{1}[0-9kK]{1}$/.test( rutCompleto ))
                return false;
            var tmp 	= rutCompleto.split('-');
            var digv	= tmp[1]; 
            var rut 	= tmp[0];
            if ( digv == 'K' ) digv = 'k' ;
            return (this.dv(rut) == digv );
        },
        dv(T){
            var M=0,S=1;
            for(;T;T=Math.floor(T/10))
                S=(S+T%10*(9-M++%6))%11;
            return S?S-1:'k';
        },
        limpiar(){
            this.formdata = {
                nombre:'',
                rut:'',
                correo:'',
                telefono:'',
                comentario:'',
                latitud:'',
                longitud:''
            }
        }
    },
    computed: {
        rutValido(){
            if(this.formdata.rut!='' && this.validarRut(this.formdata.rut)){
                return true;
            }else{
                return false;
            }
        }
    },
    
}
</script>
<style>
.ancho{
    width:60%;
}
.m-1{
    margin-bottom:1em;
}
</style>