<template>
    <div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="titulo" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="titulo">Comentarios</h4>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
          
        <!-- panel de comentarios -->        
        <div class="panel_comentarios" id="panel_comentarios">
            <span v-if="comentarios.length == 0 && !progreso">
                <md-empty-state
                    md-icon="report"
                    md-label="Sin Comentarios Agregados">
                </md-empty-state>
            </span>
            <span v-if="comentarios.length > 0">
                <md-card v-for="item in comentarios" :key="item.id">
                    <md-card-header>
                        <md-avatar>
                        <img :src="image_src" alt="Avatar">
                        </md-avatar>

                        <div class="md-title">{{item.usuario.nombre}}</div>
                        <div class="md-subhead">{{moment(item.created_at).format('DD/MM/YYYY HH:mm')}}</div>
                    </md-card-header>

                    <!-- <md-card-media>
                        <img src="" alt="People">
                    </md-card-media> -->

                    <md-card-content>
                        {{item.comentario}}
                    </md-card-content>
                    
                    <md-card-content v-if="item.correo">
                        
                        <md-chip v-for="dest in item.correo.destinatarios" :key="dest.id" class="md-accent chip-verde">
                            {{`@${dest.usuario}`}}
                        </md-chip>
                    </md-card-content>

                    <!-- <md-card-actions>
                        
                        <md-button>Action</md-button>
                        <md-button>Action</md-button>
                    </md-card-actions> -->
                    
                </md-card>
            </span>
                
        </div>
        <md-progress-bar md-mode="indeterminate" v-if="progreso"></md-progress-bar>
        <!-- panel de nuevo comentario -->
          <div class="nuevo_comentario">
              <!-- <div class="md-layout">
                <div class="md-layout-item md-size-90">
                    <input type="text" class="form-control" placeholder="Comentario...">
                </div>
                <div class="md-layout-item md-size-10 center">
                    <button class="btn btn-primary" @click="agregarComentario">agregar</button>
                </div>
            </div> -->
            <div class="input-container">
                                        <input class="input-field form-control" type="text" v-model="nuevo_comentario" id="comentario">
                                        <button class="btn icon padding-4" @click="agregarComentario">
                                            <i class="md-icon md-icon-font">speaker_notes</i>
                                        </button>
            </div>
            <multiselect v-model="destinatarios" :options="usuarios" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Enviar correo a..." label="usuario" track-by="usuario" :preselect-first="false" :show-labels="false">
                <span slot="noResult">No se encontraron coincidencias.</span>
                <!-- <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span></template> -->
         </multiselect>
          </div>
          
          <!-- panel de nuevo comentario -->

          <!-- <div class="searchable"></div> -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-blue" data-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
    </div>
</template>
<script>
export default {
    data:()=>({
        item:{comentarios:{}},
        nuevo_comentario:'',
        index:null,
        modo_edicion:null,
        progreso:false,
        usuarios:[],
        comentarios:[],
        destinatarios:[],
        image_src: '/img/av1.png',
    }),
    beforeDestroy() {
        Event.$off('mostrar_comentarios');
    },
    mounted(){
        this.$parent.$on('mostrar_comentarios',async(item,index,modo_edicion,usuarios)=>{
            this.comentarios = [];
            this.item = item;
            this.index = index;
            this.modo_edicion = modo_edicion;
            this.usuarios = usuarios;
            await this.cargarComentarios();
            $('#modal').modal('show');
            $('#panel_comentarios').animate({scrollTop: 100000 + $('#panel_comentarios').height()});
            // $('#panel_comentarios').animate({scrollBottom: 100000 + $('#panel_comentarios').height()});

        });

        
    },
    methods: {

        async destinatarios_id(){
            let destinatarios = [];
            await this.destinatarios.forEach(d => {
                destinatarios.push({id:d.id});
            });
            return destinatarios;
        },
        async agregarComentario(){
            
            if(this.nuevo_comentario){
                console.log('usuarios correo',this.destinatarios);
                this.progreso = true;
                let body = {
                    comentario:this.nuevo_comentario,
                    contacto_factibilidades_id:this.item.id
                }
                if(this.destinatarios.length>0){
                    body['destinatarios'] = await this.destinatarios_id()
                }
                console.log('body',body);
                await this.axios.post('/comentarios',body).then(async(res)=>{
                    console.log('comentario agregado',res.data.data);
                    
                    this.comentarios.push(res.data.data);
                    let i = await this.cargarDatos();
                    // console.log('valor i',i,$(document).height(),document);
                    // this.item = i;
                    // await this.cargarComentarios();
                    // this.comentarios = this.item.comentarios;
                    
                    //subir scroll al principio del div
                    // $('#panel_comentarios').scrollTop(0,800, {queue:true});


                    //bajar scroll al final del div
                    $('#panel_comentarios').animate({scrollTop: 100000 + $('#panel_comentarios').height()});

                    let datos = {
                        item:i,
                        index:this.index
                    }
                    this.progreso = false;
                    this.limpiar();
                    this.$emit('actualizar_item',(datos));
                }).catch((error)=>{
                    console.log('error',error);
                    this.progreso = false;
                })
                // console.log('body comentario',body);
            }
        },
        async cargarDatos(){
            let url = `/contacto_factibilidad/${this.item.id}`;
            let item = null;
            await this.axios.get(url).then((res)=>{
                console.log('registro actualizado comentario',res.data.data);
                item = res.data.data;
            }).catch((error)=>{
                console.log('error',error);
            });
            return item;
            console.log('antes?');
        },

        async cargarComentarios(){
            this.progreso = true;
            let url = `/contacto_factibilidades/${this.item.id}/comentarios`;
            this.axios.get(url).then((res)=>{
                this.comentarios = res.data.data;
                this.progreso = false;
                $('#panel_comentarios').animate({scrollTop: 100000 + $('#panel_comentarios').height()});
            }).catch((error)=>{
                console.log('error',error);
                this.progreso = false;
            });
        },

        async buscarUsuario(){
            // console.log('valor input:',this.nuevo_comentario);
            let usuarios = [];
            let palabras = [];
            if(this.nuevo_comentario){
                palabras = this.nuevo_comentario.split(' ');
                await palabras.forEach(p => {
                    if(p.includes('@')){
                        usuarios.push(p);
                    }
                });
            }

            var regex = /@\w+/;
            if (this.nuevo_comentario){
                // var source = $('.searchable').text();
                var words = this.nuevo_comentario.split(' ');
                var output = '';
                $.each(words, function(idx, word) {
                    if (regex.test(word.toLowerCase())) {
                        output += '<span class="highlight">' + word + '</span> ';
                    } else {
                        output += word + ' ';   
                    }
                });

                console.log(output);

                $('.searchable').html(output);
            }








            console.log('usuarios',usuarios);
        },

        limpiar(){
            this.nuevo_comentario = '';
            this.destinatarios = [];
        }
    },
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
/* .md-overlay{
    z-index: 7;
}
.md-dialog{
    width:800px;
} */
.nuevo_comentario{
    width: 100%;
    border: 1px solid #F5F5F5;
    padding: 0.5em;
}
.panel_comentarios{
    width: 100%; 
    height: 380px;
    overflow: auto;
    /* overflow-y: scroll; */
    padding-left:1em;
    padding-right:1em;
    border: 1px solid #F5F5F5;
}

.center{
    text-align: center;
}
.modal-dialog{
    width:80%;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  /* margin-bottom: 15px; */
}

.icon {
  padding: 10px;
  background: #4CAF50;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.padding-4{
    padding: 4px 4px;
}
/* .btn{
        padding: 4px 4px;
} */

.btn:hover{
  background: #3e8141;
  color: white;
}

.btn-blue{
    background: #0277BD;
    color: white;
}
.btn-blue:hover{
    background: #01579B;
    color: white;
}

.highlight{
    font-weight: 900;
    color: tomato;
}

.chip-verde{
background-color: #41b883 !important;
color: #fff !important;
}
</style>