<template>
    <div>
        <md-card>
      <md-card-header>

          <div class="md-layout">

              <div class="md-layout-item">
                  <div class="fila">
                      <div class="col-6">
                          <div class="md-title">Factibilidades</div>
                      </div>
                      <div class="col-6">
                          <md-button class="md-icon-button md-raised md-primary" @click="abrirModalFactibilidad()">
                            <md-icon>add</md-icon>
                        </md-button>
                      </div>
                  </div>
                
                
              </div>

              <!-- <div class="md-layout-item">
                    <md-button class="md-icon-button md-raised md-primary" @click="abrirModalFactibilidad()">
                        <md-icon>add</md-icon>
                    </md-button>
                    <md-switch @click="edicion = !edicion" v-model="edicion" class="md-primary">Edición</md-switch>
                    
                </div> -->
                <div class="md-layout-item">
                <md-switch v-for="cab in cabeceras_ocultables" :key="cab.titulo" v-model="cab.visible" class="md-primary">{{cab.titulo}}</md-switch>
            </div>
            <div class="md-layout-item">
                    <div class="fila">
                        <div class="col-1">
                            <input placeholder="Buscar..." v-model="search" @input="searchOnTable" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="md-layout-item">
                    <div class="fila">
                        <div class="col-6">
                            <date-picker placeholder="Rango Fechas Excel"  v-model="fechas_excel" :first-day-of-week="0" format="DD-MM-YYYY" :default-value="moment().format('YYYY-MM-DD')" valueType="YYYY-MM-DD" range></date-picker>
                        </div>
                        <div class="col-6">
                            <md-button class=" md-icon-button btn-verde" style="display:inline-block" @click="generarExcel()">
                                <md-icon class="iconoblanco">description</md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
                
          </div>

      </md-card-header>

      <!-- <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item">
                <md-button class="md-icon-button md-raised md-primary" @click="abrirModalFactibilidad()">
                    <md-icon>add</md-icon>
                </md-button>
                
            </div>
            <div class="md-layout-item">
                <date-picker placeholder="Rango Fechas Excel"  v-model="fechas_excel" :first-day-of-week="0" format="DD-MM-YYYY" :default-value="moment().format('YYYY-MM-DD')" valueType="YYYY-MM-DD" range></date-picker>
                <md-button class=" md-icon-button btn-verde" @click="generarExcel()">
                    <md-icon class="iconoblanco">description</md-icon>
                </md-button>
            </div>
            <div class="md-layout-item">
                <input placeholder="Buscar..." v-model="search" @input="searchOnTable" class="form-control"/>
            </div>
        </div>
        <div class="md-layout">
            <div class="md-layout-item">
                <md-switch v-for="cab in cabeceras_ocultables" :key="cab.titulo" v-model="cab.visible" class="md-primary">{{cab.titulo}}</md-switch>
            </div>
        </div>
      </md-card-content> -->

      <!-- <md-card-actions>
        <md-button>Action</md-button>
        <md-button>Action</md-button>
      </md-card-actions> -->
    </md-card>
    
        
    <md-progress-bar md-mode="indeterminate" v-if="progreso_1"></md-progress-bar>
    <md-progress-bar md-mode="indeterminate" v-if="progreso_2"></md-progress-bar>


            <div class="container-tabla" v-if="!progreso_1">
                <table class="" id="tabla_solicitudes">
                <thead>
                    <tr>
                        <th class="text-center" v-bind:class="[{'hidden':!cabecera.visible},cabecera.ancho]" v-for="cabecera in cabeceras" :key="cabecera.titulo">{{cabecera.titulo}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in searched" :key="item.id" tabindex="0" v-bind:class="[{ 'verde': item.estados_id == 4 },{'plomo': item.estados_id == 2 || item.estados_id == 6 || item.estados_id == 7},
                    {'naranjo':item.estados_id == 3 ||item.estados_id == 5},{'azul':item.estados_id==1}]">
                        <td v-for="cabecera in cabeceras" :key="cabecera.titulo" class="text-center" v-bind:class="[{'hidden':!cabecera.visible}]">
                            <!-- campos no modificables -->
                            <span v-if="cabecera.tipo == 'no_modificable'">
                                <span v-if="cabecera.input == 'texto'">
                                    {{valor_path(item,cabecera.path)}}
                                </span>
                                <span v-if="cabecera.input == 'fecha'">
                                    {{formatearFecha(item[cabecera.path])}}
                                </span>
                                <span v-if="item.tipo_formulario_id == 1 && cabecera.key == 'tipo_formulario_id'" class="badge badge-success">
                                    F
                                </span>
                            </span>
                            <!-- campos no modificables -->

                            <span v-if="cabecera.tipo == 'comentario'">
                                    <!-- <div class="input-container">
                                        <input class="input-field form-control" type="text" v-model="item[cabecera.tipo]">
                                        <button class="btn icon" @click="guardarComentario(item)">
                                            <i class="md-icon md-icon-font">send</i>
                                        </button>
                                    </div> -->
                                    <md-badge :md-content="item.cantidad_comentarios" v-if="item.cantidad_comentarios>0">
                                        <md-button class="md-icon-button" @click="abrirComentarios(item,index,true)">
                                        <md-icon>speaker_notes</md-icon>
                                        </md-button>
                                    </md-badge>

                                    <!-- <md-button @click="abrirComentarios(item,index,true)" class="md-icon-button" v-bind:class="[{ 'md-primary': item.cantidad_comentarios > 0 }]">
                                        <md-icon v-bind:class="[{ 'iconoblanco': item.estados_id == 7 }]">speaker_notes</md-icon>
                                        <md-icon v-bind:class="[]">speaker_notes</md-icon>
                                    </md-button> -->

                                    <md-button @click="abrirComentarios(item,index,true)" class="md-icon-button" v-if="item.cantidad_comentarios==0">
                                        <!-- <md-icon v-bind:class="[{ 'iconoblanco': item.estados_id == 7 }]">speaker_notes</md-icon> -->
                                        <md-icon v-bind:class="[]">speaker_notes</md-icon>
                                    </md-button>
                                    
                            </span>

                            <!-- campos modo sin edicion -->
                            <span v-if="!item.edicion">

                                <span v-if="cabecera.tipo != 'no_modificable'">
                                    <span v-if="cabecera.input == 'texto' || cabecera.input == 'select'">
                                    {{valor_path(item,cabecera.path)}}
                                    </span>

                                    <span v-if="cabecera.input == 'fecha'">
                                        {{valor_path(item,cabecera.path)|formatearFecha}}
                                    </span>
                                    <!-- <md-button v-if="cabecera.tipo == 'ver'" @click="ver(item)" class="md-icon-button md-primary">
                                        <md-icon>visibility</md-icon>
                                    </md-button> -->

                                    <md-switch v-if="cabecera.tipo == 'editar'" v-model="item.edicion" class="md-primary"></md-switch>

                                    <md-button v-if="cabecera.tipo == 'eliminar'" @click="eliminar(item)" class="md-icon-button">
                                        <md-icon class="iconorojo">delete</md-icon>
                                    </md-button>
                                </span>

                            </span>
                            <!-- campos modo sin edicion -->

                            <!-- campos modo edicion -->
                            <span v-if="item.edicion">

                                <span v-if="cabecera.tipo != 'no_modificable'">
                                    <input v-if="cabecera.input=='texto'" type="text" class="form-control" v-model="item[cabecera.key]">

                                    <select v-if="cabecera.input=='select'" class="form-control" v-model="item[cabecera.key]">
                                        <option value="">{{`Sin ${cabecera.titulo}`}}</option>
                                        <option v-for="opc in cabecera.opciones" :key="opc.id" :value="opc.id">{{opc[cabecera.path_opcion]}}</option>
                                    </select>

                        
                                    
                                    <!-- <input type="date" v-if="cabecera.tipo == 'fecha'" v-model="item[cabecera.key]"> -->
                                    <date-picker v-if="cabecera.tipo == 'fecha'" v-model="item[cabecera.key]" :first-day-of-week="0" format="DD-MM-YYYY" :default-value="item[cabecera.key]?item[cabecera.key]:moment().format('YYYY-MM-DD')" valueType="YYYY-MM-DD"></date-picker>
                                    

                                    <md-switch v-if="cabecera.tipo == 'editar'" v-model="item.edicion" class="md-primary"></md-switch>

                                    <md-button v-if="cabecera.tipo == 'guardar'" @click="guardar(item,index)" class="md-icon-button btn-verde">
                                        <!-- <md-icon v-bind:class="[{ 'iconoblanco': item.estados_id == 7 }]">save</md-icon> -->
                                        <md-icon class="iconoblanco">save</md-icon>
                                    </md-button>

                                    <md-button v-if="cabecera.tipo == 'ver'" @click="ver(item)" class="md-icon-button md-primary">
                                        <md-icon>visibility</md-icon>
                                    </md-button>
                                </span>
                                

                            </span>
                            <!-- campos modo edicion -->

                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        
            



        
        <!-- <md-table v-model="searched" md-sort="name" md-sort-order="asc" md-card md-fixed-header>

            <md-table-toolbar>
                <div class="md-toolbar-section-start">
                <h1 class="md-title">Factibilidades</h1>
                </div>

                <md-field md-clearable class="md-toolbar-section-end">
                <md-input placeholder="" v-model="search" @input="searchOnTable" />
                </md-field>
            </md-table-toolbar>

            <md-table-empty-state
                md-label="Sin Resultados"
                :md-description="`Se esta cargando la información`">
            </md-table-empty-state>

            
            
            <md-table-row slot="md-table-row" slot-scope="{ item }">
                <md-table-cell v-for="cab in cabeceras" :key="cab.titulo" :md-label="cab.titulo" :md-sort-by="cab.key">
                    
                    
                    
                    <input type="text" v-if="cab.input=='texto'" v-model="item[cab.key]">
                   
                    <select v-if="cab.input=='select'" v-model="item[cab.key]">
                        <option v-for="opc in estados" :key="opc.id" :value="opc.id">{{opc.estado}}</option>
                    </select>

                   
                    <md-button v-if="cab.tipo == 'guardar'" @click="guardar(item)" class="md-icon-button md-primary">
                        <md-icon>save</md-icon>
                    </md-button>
                </md-table-cell>
            </md-table-row>

        </md-table> -->

        <modal-comentario @actualizar_item="actualizar_item($event)"></modal-comentario>

        <modal-factibilidad @actualizar_lista="cargarFactibilidades()"></modal-factibilidad>
    </div>
</template>
<script>
import MenuIcon from 'vue-material-design-icons/Menu.vue';
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import 'vue2-datepicker/locale/es';
const toLower = text => {
    return text.toString().toLowerCase()
  }

  const buscar = (items, term) => {
    if (term) {
      return items.filter(
          item => toLower(item.id).includes(toLower(term)) || toLower(item.fecha_solicitud?item.fecha_solicitud:"").includes(toLower(term)) ||toLower(item.nombre).includes(toLower(term)) || toLower(item.email).includes(toLower(term)) || toLower(item.distancia?item.distancia:"").includes(toLower(term)) || toLower(item.ubicacion?item.ubicacion:"").includes(toLower(term)) || toLower(item.rut_completo).includes(toLower(term)) || toLower(item.estado?item.estado.estado:"").includes(toLower(term))
          || toLower(item.torre?item.torre.nombre:"").includes(toLower(term)) || toLower(item.plan?item.plan.nombre:"").includes(toLower(term))
        )
    }

    return items
  }
export default {
    
    data:()=>({
        cabeceras:[
            {titulo:'F',tipo:'no_modificable',key:'tipo_formulario_id',ancho:'chico',visible:true,ocultable:false},
            {titulo:'N°',tipo:'no_modificable',path:'id',input:'texto',key:'id',ancho:'chico',visible:true,ocultable:false},
            {titulo:'Fecha',tipo:'no_modificable',path:'created_at',input:'fecha',key:'created_at',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Tipo Cliente',tipo:'columna',path:'tipo_cliente.nombre',input:'select',key:'mantenedor_tipo_cliente_id',opciones:[],path_opcion:'nombre',ancho:'mediano',visible:true,ocultable:false},
            /* {titulo:'Fecha Cotización',tipo:'fecha',path:'fecha_cotizacion',input:'fecha',key:'fecha_cotizacion',ancho:'mediano',visible:true,ocultable:false}, */
            {titulo:'Nombre',tipo:'columna',path:'nombre',input:'texto',key:'nombre',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Rut',tipo:'columna',path:'rut_completo',input:'texto',key:'rut_completo',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Email',tipo:'columna',path:'email',input:'texto',key:'email',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Teléfono',tipo:'columna',path:'telefono',input:'texto',key:'telefono',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Pre-venta',tipo:'columna',path:'preventa_factibilidad.nombre',input:'select',key:'preventa_factibilidades_id',opciones:[],path_opcion:'nombre',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Mensaje',tipo:'columna',path:'mensaje',input:'texto',key:'mensaje',ancho:'muy_grande',visible:true,ocultable:true},
            {titulo:'Ubicación',tipo:'columna',path:'ubicacion',input:'texto',key:'ubicacion',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Latitud',tipo:'columna',path:'latitud',input:'texto',key:'latitud',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Longitud',tipo:'columna',path:'longitud',input:'texto',key:'longitud',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Estaciones de Prueba',tipo:'columna',path:'estaciones_de_prueba',input:'texto',key:'estaciones_de_prueba',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Distancia',tipo:'columna',path:'distancia',input:'texto',key:'distancia',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Torre',tipo:'columna',path:'torre.nombre',input:'select',key:'mantenedor_site_id',opciones:[],path_opcion:'nombre',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Estado 1',tipo:'columna',path:'estado.estado',input:'select',key:'estados_id',opciones:[],path_opcion:'estado',ancho:'mediano',visible:true,ocultable:false},
            // {titulo:'Plan',tipo:'columna',path:'plan.nombre',input:'select',key:'planes_id',opciones:[],path_opcion:'nombre',ancho:'mediano'},
            {titulo:'Fecha de Respuesta',tipo:'fecha',path:'fecha_respuesta',input:'fecha',key:'fecha_respuesta',ancho:'mediano',visible:true,ocultable:false},

            {titulo:'Comentario',tipo:'columna',path:'comentario_factibilidad.comentario',input:'select',key:'comentarios_factibilidades_id',opciones:[],path_opcion:'comentario',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Contrato',tipo:'columna',path:'estado_contrato.estado',input:'select',key:'estado_contrato_factibilidades_id',opciones:[],path_opcion:'estado',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'N° de Servicio',tipo:'columna',path:'nro_servicio',input:'texto',key:'nro_servicio',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Plan Inicial',tipo:'columna',path:'plan_inicial',input:'texto',key:'plan_inicial',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Habilitación',tipo:'columna',path:'habilitacion',input:'texto',key:'habilitacion',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'N° Documentos',tipo:'columna',path:'nro_documentos',input:'texto',key:'nro_documentos',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Estado 2',tipo:'columna',path:'estado_2.estado',input:'select',key:'estados_id_2',opciones:[],path_opcion:'estado',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Fecha Instalación',tipo:'fecha',path:'fecha_instalacion',input:'fecha',key:'fecha_instalacion',ancho:'mediano',visible:true,ocultable:false},
            {titulo:'Fecha Activación',tipo:'fecha',path:'fecha_activacion',input:'fecha',key:'fecha_activacion',ancho:'mediano',visible:true,ocultable:false},


            {titulo: 'Comentarios',tipo:'comentario',ancho:'chico',visible:true,ocultable:false},
            {titulo: 'Editar',tipo:'editar',ancho:'chico',visible:true,ocultable:false},
            {titulo:'Guardar',tipo:'guardar',ancho:'chico',visible:true,ocultable:false},
            {titulo:'Eliminar',tipo:'eliminar',ancho:'chico',visible:true,ocultable:false},
            // {titulo:'Ver',tipo:'ver',ancho:'chico'}
        ],
        factibilidades:[],
        estados:[],
        estados_2:[],
        estados_contrato:[],
        // planes:[],
        usuarios:[],
        comentarios_factibilidades:[],
        search:'',
        searched:[],
        edicion:false,
        progreso_1:true,
        progreso_2:false,
        fechas_excel:''
    }),
    mounted(){
        this.cargarTipoClientes();
        this.cargarEstados();
        this.cargarEstados2();
        this.cargarTorres();
        // this.cargarPlanes();
        this.cargarPreventa();
        this.cargarEstadosContrato();
        this.cargarComentarioFactibilidades();
        this.cargarUsuarios()
        this.cargarFactibilidades();
    },
    methods:{
        searchOnTable () {
            this.searched = buscar(this.factibilidades, this.search)
            console.log('searched',this.searched);
        },
        async cargarTipoClientes(){
            await this.axios.get('/tipo_clientes').then((res)=>{
                this.tipo_clientes = res.data.data;
                this.cabeceras[3].opciones = this.tipo_clientes;
                console.log('tipo_clientes',this.tipo_clientes);
            }).catch((error)=>{
                console.log('error',error);
            })
        },
        async cargarEstados(){
            await this.axios.get('/estados/tipo/1').then((res)=>{
                this.estados = res.data.data;
                this.cabeceras[16].opciones = res.data.data;
                console.log('estados',this.estados);
            }).catch((error)=>{
                console.log('error',error);
            });
        },
        async cargarEstados2(){
            await this.axios.get('/estados/tipo/2').then((res)=>{
                this.estados_2 = res.data.data;
                this.cabeceras[24].opciones = this.estados_2;
                console.log('estados',this.estados_2);
            }).catch((error)=>{
                console.log('error',error);
            });
        },
        async cargarEstadosContrato(){
            await this.axios.get('/estados_contrato').then((res)=>{
                this.estados_contrato = res.data.data;
                this.cabeceras[19].opciones = res.data.data;
                console.log('estados',this.estados_contrato);
            }).catch((error)=>{
                console.log('error',error);
            });
        },
        async cargarTorres(){
            await this.axios.get('/torres').then((res)=>{
                this.torres = res.data.data;
                this.cabeceras[15].opciones = this.torres;
                console.log('torres',this.torres);
            }).catch((error)=>{
                console.log('error',error);
            });
        },
        async cargarPreventa(){
            await this.axios.get('/preventa_factibilidades').then((res)=>{
                this.preventas = res.data.data;
                this.cabeceras[8].opciones = this.preventas;
                console.log('preventas',this.preventas);
            }).catch((error)=>{
                console.log('error',error);
            });
        },
        async cargarPlanes(){
            await this.axios.get('/planes').then((res)=>{
                this.planes = res.data.data;
                this.cabeceras[17].opciones = this.planes;
                console.log('planes',this.planes);
            }).catch((error)=>{
                console.log('error',error);
            });
        },

        async cargarComentarioFactibilidades(){
            await this.axios.get('/comentarios_factibilidades').then((res)=>{
                this.comentarios_factibilidades = res.data.data;
                this.cabeceras[18].opciones = this.comentarios_factibilidades;
            }).catch((error)=>{
                console.log('error',error);
            });
        },

        /* async cargarFactibilidades(){
            await this.axios.get('/contacto_factibilidad').then(async(res)=>{
                this.factibilidades = res.data.data;
                
                //formula a usar para los select
                // this.factibilidades[0]['email'] = 1;
                this.searched = this.factibilidades;
                this.progreso_1 = false;
                // this.searched.forEach(item => {
                // vue set se puede usar para agregar un nuevo key y valor a un objeto
                //     Vue.set(item, 'edicion', false)
                // });
                console.log('factibilidades searched',this.searched);
            }).catch((error)=>{
                console.log('error',error);
                this.progreso_1 = false;
            })
        }, */
        async cargarFactibilidades(){
            let hasta = this.moment().format('YYYY-MM-DD');
            let desde = this.moment(hasta).subtract(30, 'days').format('YYYY-MM-DD');
            console.log(desde,hasta);
            await this.axios.get(`/contacto_factibilidad/${desde}/${hasta}`).then(async(res)=>{
                this.factibilidades = res.data.data;
                console.log('factibilidades',res.data.data);
                //formula a usar para los select
                // this.factibilidades[0]['email'] = 1;
                this.searched = this.factibilidades;
                this.progreso_1 = false;
                // this.searched.forEach(item => {
                // vue set se puede usar para agregar un nuevo key y valor a un objeto
                //     Vue.set(item, 'edicion', false)
                // });
                console.log('factibilidades searched',this.searched);
            }).catch((error)=>{
                console.log('error',error);
                this.progreso_1 = false;
            })
        },

        async actualizar_item(datos){
            console.log('actualizar item',datos);
            Vue.set(this.searched, datos.index,datos.item);
        },

        async guardar(item,index){
            console.log('guardando item',item);
            if(item.rut_completo.includes('-')){
                let dividir = item.rut_completo.split('-');
                item.rut = dividir[0];
                item.dv = dividir[1];
            }
            this.progreso_2 = true;
            let body = {};
            // let keys = Object.keys(item);
            // keys.forEach(k => {
            //     body[k]=item[k];
            // });
            await this.axios.put(`/contacto_factibilidad/${item.id}`,item).then((res)=>{
                console.log('item actualizado',res);
                let actualizado = res.data.data;

                //actualizar el item del array de objetos para que quede reactivo
                Vue.set(this.searched, index,actualizado);
                // this.searched.$set(index, actualizado);
                // this.searched[index]=res.data.data;
                this.progreso_2 = false;
            }).catch((error)=>{
                console.log('error',error);
                this.progreso_2 = false;
            });
            // console.log('keys',keys);
            // console.log('body',body);
            console.log('body_2',item);
        },

        abrirComentarios(item,index,modo_edicion){
            console.log('abrir_comentarios');
            this.$emit('mostrar_comentarios',item,index,modo_edicion,this.usuarios);
        },

        abrirModalFactibilidad(){
            this.$emit('nueva_factibilidad');
        },

        async cargarUsuarios(){
            await this.axios.get(`/usuarios`).then(async(res)=>{
                this.usuarios = res.data.data;
                await this.usuarios.forEach(u => {
                    u.usuario = `@${u.usuario}`;
                });
                console.log('usuarios',this.usuarios);
            }).catch((error)=>{
                console.log('error',error);
            });
        },

        // async guardarComentario(item){
        //     console.log('guardando comentario',item);
        //     let body = {
        //         comentario:item.comentario,
        //         contacto_factibilidades_id:item.id
        //     }
        //     if(item.comentario){
        //         this.axios.post('/comentarios',body).then((res)=>{
        //             console.log('comentario agregado',res.data);
        //         }).catch((error)=>{
        //             console.log('error',error);
        //         })
        //         console.log('body comentario',body);
        //     }
        // },

        // async ver(item){
        //     console.log('ver',item);
        //     window.location.href = `/factibilidades/${item.id}`;
        // },

        valor_path(item,path){
            if(path){
                let value = item;
                let stack = path.split('.');
                let history = [];
                let peek;

                while (value[stack[0]]) {
                    if (peek) {
                        history.push(peek);
                    }
                    peek = stack.shift();
                    value = value[peek];
                }

                if (stack.length > 0) {
                    history.push(peek);
                    value = "";
                }

                return value;
            }
            return "";
            
        },

        async generarExcel(){
            this.progreso_2 = true;
            console.log('fechas excel',this.fechas_excel);
            await this.axios.get(`/contacto_factibilidades/excel/${this.fechas_excel[0]}/${this.fechas_excel[1]}`).then(async(res)=>{
                
                // console.log('excel',res);
                window.location.href = res.data.url;
                this.progreso_2 = false;
            }).catch((error)=>{
                console.log('error',error);
                this.progreso_2 = false;
            });
        },

        async eliminar(item){
            // Use sweetalert2
            this.$swal({
                title: `¿Eliminar Solicitud N° ${item.id}?`,
                // text: `Esta seguro de eliminar la factibilidad N° ${item.id}`,
                type: "warning",
                icon:"warning",
                showCancelButton: true,
                confirmButtonColor: "#e04924",
                confirmButtonText: "Eliminar",
                cancelButtonText:"Cancelar",
                width:"500px",
                closeOnConfirm: true
            }).then(async (resultado) => {
                console.log('resultado',resultado);
                if (resultado.value) {
                    await this.axios.delete(`/contacto_factibilidad/${item.id}`).then((res)=>{
                        this.cargarFactibilidades();
                        this.$swal({
                            title: `Factibilidad N° ${item.id} Eliminada`,
                            icon:"success",
                            showCancelButton: false,
                            confirmButtonColor: "#4CAF50",
                            confirmButtonText: "OK",
                            width:"500px",
                            closeOnConfirm: true
                        })
                    }).catch((error)=>{
                        console.log('error',error);
                    })
                    // this.$swal.fire(
                    // 'Deleted!',
                    // 'Your file has been deleted.',
                    // 'success'
                    // );
                }
            });
        },

        formatearFecha(fecha){
            return this.moment(fecha).format('DD/MM/YYYY HH:mm');
        }
    },
    computed: {
        columnas(){
            let columnas = [];
            if(this.edicion){
                return this.cabeceras;
            }else{
                this.cabeceras.forEach(cab => {
                    if(cab.tipo != 'guardar' && cab.tipo != 'comentario'){
                        columnas.push(cab);
                    }
                });
                return columnas;
            }
        },
        cabeceras_ocultables(){
            let cabeceras = [];
            this.cabeceras.forEach(cab => {
                if(cab.ocultable){
                    cabeceras.push(cab);
                }
            });
            return cabeceras;
        }
    },
    components:{
        MenuIcon,
        DatePicker
    }
}
</script>
<style>
body{
    color:#000;
}
.md-table-cell-container{
    padding: 6px 6px;
}
.md-theme-default a:not(.md-button) {
    color: #fff;
    color: var(--md-theme-default-primary-on-background, #fff);
}
th {
  background: #fff;
  position: sticky;
  padding: 0.5em 0.4em;
  top: 0;
  z-index:20;
  /* min-width: 150px; */
  height:40px;
  /* border: 1px solid #000; */
  box-shadow: 0 2px 2px 0px rgba(56, 55, 55, 0.4);
}

/**anchos de columna */
.chico{
    min-width: 60px;
}
.mediano{
    min-width: 150px;
}
.grande{
    min-width: 250px;
}
.muy_grande{
    min-width: 300px;
}
/**anchos de columna */


td{
    /* padding: 0.4em; */
    /* height: 51.4px; */
    /* background: #fff; */
}

tr:nth-child(even) {
  /* background-color: #f2f2f2; */
  border-top:1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  /* background-color: #f2f2f2; */
}

.container-tabla{
    overflow-x:auto;
    max-height:420px;
    margin-top:1em;
    border:1px solid #B0BEC5;
}
  /* table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}
td{
    height: 40px;
    max-height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.md-field{
    margin: 0px;
}
th{
    padding: 0px 0px;
    min-width: 100px;
    max-width: 100px;
    height: 40px;
} */

/**estilos de tabla */


a:hover, a:focus {
    text-decoration: none;
}
.nav-header a {
    color: #DFE4ED;
}
a {
    cursor: pointer;
    text-decoration:none;
    background-color: transparent;
}

/* input con icono */
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  /* margin-bottom: 15px; */
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.btn{
        padding: 4px 4px;
}

/**estilo de focus en fila */
#tabla_solicitudes tbody tr:focus {
  /* background-color: red; */
  border: 1px solid #81D4FA;
}

/**se coloco porque al aplicar clase con color blanco no se veian las letras */
.form-control{
    color: #555 !important;
}

/**colores de acuerdo al estado de una solicitud */
.verde{
    background-color: #C8E6C9 !important;
}
.naranjo{
    background-color: #FFCC80 !important;
}
.plomo{
    background-color: #B0BEC5 !important;
    /* color: #f2f2f2; */
}
.azul{
    background-color: #90CAF9 !important;
    /* color: #f2f2f2; */
}
/**colores de acuerdo al estado de una solicitud */

.iconoblanco {
    color: #fff !important;
}

.iconorojo {
    color: #e04924 !important;
}

.iconoverde {
    color: #43A047 !important;
}

/**color badge comentario */
.md-badge.md-theme-default {
    color: #fff;
    background-color: #43A047;
}

.btn-verde{
    color: #fff !important;
    background-color: #43A047 !important;
}

.btn-rojo{
    color: #fff !important;
    background-color: #e04924 !important;
}

/**clase ocultar */
.hidden{
    display: none;
}

/**sobreescritura de estilos del calendario */
.mx-table-date>thead>tr>th{
    text-align:center;
}
.mx-calendar-content{
    height: 260px;
}
/**sobreescritura de estilos del calendario */

.fila {
  display: flex;
}

.col-6 {
  flex: 50%;
  margin: 0 0.5%;
}

.col-1{
    flex: 100%;
    margin: 0 0.5%;
}

</style>