<template>
    <div>
        <vue-cal
        class="calendario"
        :on-event-click="clickEvento"
        @cell-dblclick="crearTicket($event)"
        :events="eventos"
        locale="es"
        :time-from="8 * 60" 
        :time-to="19.5 * 60"
        :time-step="30"
        :disable-views="['years', 'year']" 
        />
        

        <!-- Modal -->
        <div class="modal fade sombra" id="modal_comentario" tabindex="-1" role="dialog" aria-labelledby="titulo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ancho" role="document">
            <div class="modal-content">
                <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#ticket" aria-controls="ticket" role="tab" data-toggle="tab">Ticket</a></li>
                        <li role="presentation"><a href="#comentarios" aria-controls="comentarios" role="tab" data-toggle="tab">Comentarios</a></li>
                    </ul>
            <!-- <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body">



                <div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="ticket">

                            <div v-if="alert_actualizar" :class="`alert alert-${estilo_alert}`" role="alert">
                                <button type="button" class="close" aria-label="Close" @click="alert_actualizar = !alert_actualizar"><span aria-hidden="true">&times;</span></button>
                                <p>{{mensaje}}</p>
                                <ul v-if="errores.length > 0">
                                    <li v-for="error in errores" :key="error.key">{{error}}</li>
                                </ul>
                            </div>


                            <div class="row m-1" style="margin-top:10px;">
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label for=""><i class="glyphicon glyphicon-user"></i> Cliente</label>
                                    </div>
                                    
                                </div>
                                <div class="col-lg-5">
                                    <p>{{evento_seleccionado.cliente}}</p>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label for=""><i class="glyphicon glyphicon-hdd"></i> Servicio</label>
                                    </div>
                                    
                                </div>
                                <div class="col-lg-5">
                                    <p>{{evento_seleccionado.servicio}}</p>
                                </div>
                            </div>

                            <div class="row m-1">
                                
                            </div>

                            <div class="row m-1">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Estado</label>
                                        <select class="form-control" v-model="evento_seleccionado.estado_id">
                                            <option :value="e.id" v-for="e in ticket_estados" :key="e.id">{{e.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Técnico Asignado</label>
                                        <select class="form-control" v-model="evento_seleccionado.tecnico_id">
                                            <option :value="t.id" v-for="t in tecnicos" :key="t.id">{{t.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                                
                                
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                            <label for="">Fecha Visita</label>
                                            <input type="date" class="form-control" v-model="evento_seleccionado.fecha_visita">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                            <label for="">Hora Visita</label>
                                            <input type="time" class="form-control" v-model="evento_seleccionado.hora_visita">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-redondeado" @click="guardar()"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                                </div>
                            </div>
                            
                        </div>

                        <div role="tabpanel" class="tab-pane" id="comentarios">
                            <div class="row m-1">
                                <textarea name="" placeholder="Comentario..." id="" cols="30" rows="2" class="form-control"></textarea>
                            </div>
                            <div class="row m-1">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <button type="button" class="btn float-right btn-redondeado" @click="comentar(evento_seleccionado)">Comentar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>




                

                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue" data-dismiss="modal">Cerrar</button>
                <!-- <button type="button" class="btn btn-primary" @click="guardar()">Guardar</button> -->
            </div>
            </div>
        </div>
        </div>
    </div>
</template>
<script>
import VueCal from 'vue-cal';
import 'vue-cal/dist/vuecal.css';
import 'vue-cal/dist/i18n/es.js'
export default {
    data:()=>({
        events:[
            {
                start: '2020-08-09 14:00',
                end: '2020-08-09 17:00',
                title: 'Prueba',
                content: `<i class="glyphicon glyphicon-eye-open" style="cursor:pointer;" onclick="comentar(25)"> </i>`,
                class: 'visita',
                deletable: false,
                resizable: false,
                draggable: false,
                id:1,
                cliente:'Pedro Pérez'
            },
        ],
        tickets:[],
        ticket_estados:[],
        tecnicos:[],
        eventos:[],
        evento_seleccionado:{},
        errores:[],
        mensaje:'',
        alert_actualizar:false,
        estilo_alert:'success'
    }),
    mounted() {
        //$('#modal_comentario').modal('show');
        this.cargarTicketEstados();
        this.cargarTecnicos();
        this.cargarTickets();
    },
    methods:{
        clickEvento (event, e) {
            this.evento_seleccionado = event
            //$('#modal_comentario').modal('show');
            console.log('evento clickeado',this.evento_seleccionado);
            //this.showDialog = true

            // Prevent navigating to narrower view (default vue-cal behavior).
            //e.stopPropagation()
        },
        crearTicket(event){
            console.log('doble click',event)
        },
        comentar(event){
            console.log('comentando',event);
        },
        async cargarTickets(){
            await this.axios.get(`/eventos/calendario`).then((res)=>{
                this.tickets = res.data.data;
                this.formatearEventos();
                console.log('tickets',res.data);
            }).catch((e)=>{
                console.log('error',e);
            });
        },

        async formatearEventos(){
            this.eventos = [];
            await this.tickets.forEach(ticket => {
                this.eventos.push({
                    id:ticket.id,
                    cliente:ticket.clientes?ticket.clientes.nombre:null,
                    servicio:ticket.servicios.Codigo,
                    start:this.moment(`${ticket.fecha_visita} ${ticket.hora_visita}`).format('YYYY-MM-DD HH:mm'),
                    end:this.moment(`${ticket.fecha_visita} ${ticket.hora_visita}`).add(1,'hours').format('YYYY-MM-DD HH:mm'),
                    title:ticket.clientes?ticket.clientes.nombre:null,
                    class:'ticket',
                    content: `<button onclick="verDetalle(${ticket.id})" type="button" class="btn btn-naranjo" data-dismiss="modal"><i class="glyphicon glyphicon-eye-open" style="cursor:pointer;color:#fff;" ></i></button>`,
                    estado_id:ticket.estado_id,
                    tecnico_id:ticket.tecnico_id,
                    fecha_visita:ticket.fecha_visita,
                    hora_visita:ticket.hora_visita
                })
            });
            console.log('eventos',this.eventos);
        },

        async cargarTicketEstados(){
            await this.axios.get(`/ticket_estado`).then((res)=>{
                this.ticket_estados = res.data.data;
            }).catch((e)=>{
                console.log('error',e);
            });
        },

        async cargarTecnicos(){
            await this.axios.get(`/usuarios/nivel_usuario/${3}`).then((res)=>{
                this.tecnicos = res.data.tecnicos;
            }).catch((e)=>{
                console.log('error',e);
            });
        },

        async guardar(){
            this.errores = [];
            this.mensaje = '';
            let body = {
                estado_id:this.evento_seleccionado.estado_id,
                tecnico_id:this.evento_seleccionado.tecnico_id,
                fecha_visita:this.evento_seleccionado.fecha_visita,
                hora_visita:this.evento_seleccionado.hora_visita
            };
            let url = `/ticket/${this.evento_seleccionado.id}/actualizar`;
            await this.axios.put(url,body).then((res)=>{
                if(res.data.success == true){
                    this.mensaje = res.data.message;
                    this.estilo_alert = 'success';
                }else{
                    this.errores = res.data.errors;
                    this.estilo_alert = 'danger';
                }
                
                this.alert_actualizar = true;
            }).catch((e)=>{
                console.log('error',e);
                
            });
        }
    },
    components: { 
        'vue-cal': VueCal 
    },
    
}
</script>
<style>
body, html {
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
    .vuecal__now-line {display: none}

    .vuecal__event.visita {background-color: #FFAB91;border: 1px solid rgb(235, 82, 82);color: #fff;}
    .vuecal__event.ticket{
        background-color: #FBC02D;
        border: 1px solid #F57F17;
        border-radius: 5px;
        color: #000;
    }
    .vuecal__title-bar {
        background-color:#2196F3;
        color:#fff;
    }
    .vuecal__menu {
        background-color: #1E88E5;
        color:#fff;
    }

    .vuecal__cell-events-count {
        margin-top: 3px;
        height: 24px;
        width: 24px;
        line-height: 24px;
        color: #fff;
        background-color: #1a73e8;
        border-radius: 50%;
    }

    .vuecal__cell--selected {
        background-color: #ECEFF1;
    }

    .vuecal__cell--today{
        background-color: #E3F2FD;
    }
    /* .vuecal__time-cell {
        height: 50px;
    } */
    .vuecal__event-time{
        display: none;
    }

    .sombra{
        border-radius: 8px;
        box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
    }

    .modal-backdrop {
   background-color: rgba(250, 250, 250, 0.1);
}

.ancho{
    width: 400px;
}

/**estilos modal */
.modal-content {
    background-color: #F5F5F5;
    border: 1px solid rgba(6, 6, 6, 0.15);
    width: 700px;
}

.modal-dialog{
       margin:0 auto;
       display:table;
       position: absolute;
       left: 0;
       right:0;
       top: 10%; 
       /*border: 1px solid rgba(6, 6, 6, 0.15);*/
       -webkit-transform:translateY(-50%);
       -moz-transform:translateY(-50%);
       -ms-transform:translateY(-50%);
       -o-transform:translateY(-50%);
       transform:translateY(-50%);
}

/**estilos comentario */
textarea.form-control {
    height: auto;
    border-radius: 10px;
    resize: none;
}
.panel{
    background-color: #F5F5F5;
}
.btn-redondeado{
    background-color: #4cb651;
    color: #fff;
    border-radius: 10px;
    padding: 0.5 em;
}
.btn-naranjo{
    background-color: #BF360C;
}
.btn-naranjo:hover{
    background-color: #FF8A65;
}
/**estilos comentario */


/**pantallas menores a 1080px */
@media screen and (max-height: 1080px) {
  .calendario {
    height: 800px;
  }
}
@media screen and (max-height: 768px) {
  .calendario {
    height: 500px;
  }
}
</style>